node_modules
.expo
.expo-shared
dist
build
.next
.turbo
.vercel
.env
.env.local
.env.*.local
*.log
.DS_Store
ios/Pods
ios/build
android/build
android/.gradle
android/app/build
coverage
.idea
.vscode
*.tsbuildinfo
.eas-build-local
